.img-box-wrap {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.img-box {
  display: flex;
  margin-top: 80px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.plus-box {
  display: flex;
  width: 80px;
  height: 80px;
  border: 2px solid #333;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
